{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<header>
{% image page.logo fill-200x200 %}
</header>

<div>
  {{ page.hero_text|richtext }}
  <small>{{ page.hero_text_source }}</small>
</div>

<div>
  {{ page.lead_text|richtext }}
</div>

<div>
  {% for info_push in page.info_push %}
    {% if info_push.block_type == "button" %}
      <a href="{{ info_push.value.url }}">{{ info_push.value.text|richtext }}</a>
    {% elif info_push.block_type == "notice" %}
      <div>{{ info_push.value.text|richtext }}</div>
    {% endif %}
  {% endfor %}
</div>

<hr>
{% for campaign in page.campaigns %}
<div>
  <a href="{{ campaign.url }}">{{ campaign.title }}</a>
  <div>
    {{ campaign.description|richtext }}
  </div>
  <div>
    {% image campaign.image fill-200x200 %}
  </div>
  <div>
    {% for link in campaign.links %}
      <a href="{{ link.value.url }}">{{ link.value.text }}</a>
    {% endfor %}
  </div>
  {% for timeline in campaign.timelines %}
  <div>
    <a href="{{ timeline.url }}">{{ timeline.title }}</a>
    <div>
      {% image timeline.icon fill-100x100 %}
    </div>
    <div>
      {% for status in timeline.statuses %}
        <div>
          <h4>{{ status.value.status_type }} - {{ status.value.title }}</h4>
          <small>{{ status.value.status_text }}</small>
          <p>{{ status.value.description|richtext }}</p>
          {% for link in status.value.links %}
            <a href="{{ link.value.url }}">{{ link.value.text }}</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
<hr>
{% endfor %}

{% endblock content %}
