<footer class="page-footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <div class="footer-block">
          <div><em>Za spletno mesto skrbi</em></div>
          <div class="relaxed lead"><a href="https://danesjenovdan.si" target="_blank">Danes je nov dan, Inštitut za druga vprašanja</a>.</div>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-block">
          <div class="support-box">
            <div class="text">
              <div class="lead">PODPRI NAŠE DELO!</div>
              <div><em>Izberi višino donacije.</em></div>
            </div>
            <div class="buttons">
              <a class="footer-button" href="https://moj.djnd.si/danes-je-nov-dan/doniraj/info?znesek=11&amp;referrer=https%3A%2F%2Fmocljudem.si%2F&amp;utm_source=mocljudem.si&amp;utm_medium=website&amp;utm_campaign=mocljudem-footer&amp;utm_content=11+%E2%82%AC" target="_blank" rel="noopener noreferrer">
                <span>11 €</span>
              </a>
              <a class="footer-button" href="https://moj.djnd.si/danes-je-nov-dan/doniraj/info?znesek=24&amp;referrer=https%3A%2F%2Fmocljudem.si%2F&amp;utm_source=mocljudem.si&amp;utm_medium=website&amp;utm_campaign=mocljudem-footer&amp;utm_content=24+%E2%82%AC" target="_blank" rel="noopener noreferrer">
                <span>24 €</span>
              </a>
              <a class="footer-button" href="https://moj.djnd.si/danes-je-nov-dan/doniraj?referrer=https%3A%2F%2Fmocljudem.si%2F&amp;utm_source=mocljudem.si&amp;utm_medium=website&amp;utm_campaign=mocljudem-footer&amp;utm_content=Poljubno" target="_blank" rel="noopener noreferrer">
                <span>Poljubno</span>
              </a>
              <a class="footer-button" href="https://moj.djnd.si/danes-je-nov-dan/doniraj?mesecna=true&amp;referrer=https%3A%2F%2Fmocljudem.si%2F&amp;utm_source=mocljudem.si&amp;utm_medium=website&amp;utm_campaign=mocljudem-footer&amp;utm_content=Mese%C4%8Dno" target="_blank" rel="noopener noreferrer">
                <span>Mesečno</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-col">
        <div class="footer-block">
          <div><em>Te zanima, kaj delamo?</em></div>
          <div class="lead">Naroči se na Občasnik!</div>
          <form class="newsletter-form">
            <div class="form-group">
              <label>
                <span>Vpiši svoj e-naslov</span>
                <input type="email" id="newsletter-email" required="">
              </label>
            </div>
            <div class="form-group">
              <button class="footer-button submit-button">Naroči se</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
